 <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "BAT CLASSIC IDO",
            description : "Join IDO get profit 8 lever"
        }) %>
</header>
    
<main class="nk-pages">

    <section class="section bg-transparent over-up over-up-xl-s2 pdt-0 ov-v" style="padding-bottom:10px;">
        <div class="ui-mask-right ui-mask-s8"></div>
        <div class="container">
            <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="feature feature-center card  animated" data-animate="fadeInUp" data-delay="0.9">
                            <div class="field-inline field-split bg-white shadow-soft">
                                <div class="field-wrap d-flex align-items-center">
                                    <label class="label-inline mb-0 d-none d-sm-block"><i class="mt-1 icon fa fa-href"></i></label>
                                    <input class="input-solid input-solid-lg required" type="text" name="contact-email" placeholder="Your URL Referral" id="LinkRef">
                                    <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                </div>
                                <div class="submit-wrap">
                                    <button class="btn btn-primary"><i class="fa fa-copy"></i> Copy URL</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                    
                </div><!-- .row -->
        </div>
    </section>
    

    <section class="section pdt-0 ov-v" style="padding-bottom:10px;">
        
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-features-s3">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.4">
                            
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Start</h4>
                                <button type="button" class="btn btn-primary"><span class="timestart"></span></button>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.5">
                           
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Finish</h4>
                                <button type="button" class="btn btn-primary btn-outline"><span class="timeend"></span></button>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.6">
                            
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Contract</h4>
                                <div class="d-flex btn-group" role="group">
                                    <a class="btn btn-primary" href="https://bscscan.com/token/0x11e47762f5985a425d7dbff52bf73a6d9eb7557d" target="_blank"><span class="fa fa-link"></span> BSC</a>
                                    <a  class="btn btn-primary" href="#"><span class="fa fa-link"></span> Matamask</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>

        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-features-s3">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.4">
                            
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Price</h4>
                                <button type="button" class="btn btn-primary btn-outline"><span class="pricebnb"></span></button>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card bg-danger card-lg-y animated" data-animate="fadeInUp" data-delay="1.5">
                            
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Revice</h4>
                                <button type="button" class="btn btn-primary"><span class="totalSub"></span></button>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.6">
                            
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Reward</h4>
                                <button type="button" class="btn btn-primary btn-outline"><span class="reward"></span></button>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>

    <section class="section pdt-0 ov-v" style="padding-bottom:15px;">
        <div class="ui-mask-left ui-mask-s9"></div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="field-inline field-split bg-white shadow-soft">
                        <div class="field-wrap d-flex align-items-center">
                            <label class="label-inline mb-0 d-none d-sm-block"><i class="mt-1 icon fas fa-bnb"></i></label>
                            <input class="input-solid input-solid-lg required" type="text" value="0.1" id="getAmountBNB" name="contact-email" placeholder="Min buy 0.1 BNB">
                            <input type="text" class="d-none" name="form-anti-honeypot" value="">
                        </div>
                        <div class="submit-wrap">
                            <button class="btn btn-danger" data-web3="ido">BUY IDO</button>
                        </div>
                    </div>
                    <br>
                    <div class="card  animated" data-animate="fadeInUp" data-delay="1.6">
                        <div>
                        (*) Let’s share to get 31% all of Claim<br>
                        (*) You must buy atleast 1.000.000 BAT Token to receive comission from Level 2 - Level 7<br>
                        - 10% of Purchase at Level 1<br>
                        - 6% of Purchase at Level 2<br>
                        - 5% of Purchase at Level 3<br>
                        - 4% of Purchase at Level 4<br>
                        - 3% of Purchase at Level 5<br>
                        - 2% of Purchase at Level 6<br>
                        - 1% of Purchase at Level 7<br>
                        (*) There is no limit bonus for Referral.
                        </div>

                    </div>

                </div>
                <div class="col-6">
                    <div class="feature feature-left card card-lg-y animated" data-animate="fadeInUp" data-delay="1.7">
                        
                        <button type="button" class="btn btn-primary" data-web3="claim">CLAIM NOW</button>
                        <button type="button" class="btn btn-primary">Share Referral</button>
                        <div>
                            (*) Each Referral friend claims you can 150 BAT Classic.<br>

                            (*) You must buy atleast 10.000 BAT Classic to receive comission from Level 2 - Level 3<br>

                            (*) Let’s share to get 25% all of Claim<br>

                                25% of Purchase at Level 1<br>

                            (*) There is no limit bonus for Referral.<br>

                            (*) Network: Binance Smart Chain.<br>

                            Smart contract: <a href="https://bscscan.com/token/0x11e47762f5985a425d7dbff52bf73a6d9eb7557d" target="_blank">0x11e47762f5985a425d7dbff52bf73a6d9eb7557d</a><br>

                           

                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section pdt-0 ov-v">
        
        <div class="ui-mask-right ui-mask-s8"></div>
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-features-s3">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.4">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s1">
                                <em class="icon ikon ikon-currency icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Basic (0.2 BNB)</h4>
                                <button type="button" class="btn btn-primary">BUY NOW</button>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.5">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s2">
                                <em class="icon ikon ikon-lock icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Pro  (0.5 BNB)</h4>
                                <button type="button" class="btn btn-primary">BUY NOW</button>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.6">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s3">
                                <em class="icon ikon ikon-question icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">VIP  (1 BNB)</h4>
                                <button type="button" class="btn btn-primary">BUY NOW</button>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>

            
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./../components/footer.html") %>
</footer>