 <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "Account List Item",
            description : "Free copy trade service, Win rate 80-90%",
            banner : "./banner_account.html",
            html : ''
        }) %>
</header>

<main class="nk-pages bg-white">

    <section class="section  ov-v" style="padding-bottom:10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    
                    <%- include("./menu.html") %>

                </div>
                <div class="col-md-9">
                    <div class="card">
                        <h3>Add bank</h3>
                        <form>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                            <label for="inputAddress">Bank Name</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Enter Bank Name">
                          </div>
                          <div class="form-group col-md-4">
                              <label for="inputState">Type</label>
                              <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Paypal</option>
                                <option>Visa</option>
                                <option>BTC Wallet</option>
                                <option>USDT Wallet</option>
                              </select>
                            </div>
                      </div>
                          <div class="form-row">
                            

                            <div class="form-group col-md-6">
                              <label for="inputEmail4">Your Name</label>
                              <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputPassword4">Your Phone</label>
                              <input type="password" class="form-control" id="inputPassword4">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                          </div>
                         
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity">City</label>
                              <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inputState">State</label>
                              <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                              </select>
                            </div>
                            <div class="form-group col-md-2">
                              <label for="inputZip">Zip</label>
                              <input type="text" class="form-control" id="inputZip">
                            </div>
                          </div>
                          
                          <button type="submit" class="btn btn-primary">Add bank</button>
                        </form>
                    </div>
                    <hr>

                    <div class="card">
                        <h1>Bank</h1>
                        <table class="table">
                            <thead>
                                <th>Name</th>
                                <th>Add Date</th>
                                <th>Status</th>
                            </thead>
                            <tr>
                                <td>Visa</td>
                                <td>22/12/2022</td>
                                <td>On</td>
                            </tr>
                            <tr>
                                <td>Paypal</td>
                                <td>22/12/2022</td>
                                <td>Off</td>
                            </tr>
                            <tr>
                                <td>BTC Wallet</td>
                                <td>22/12/2022</td>
                                <td>Block</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


            
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./../components/footer.html") %>
</footer>