 <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "Account List Item",
            description : "Free copy trade service, Win rate 80-90%",
            banner : "./banner_account.html",
            html : ''
        }) %>
</header>

<main class="nk-pages bg-white">

    <section class="section  ov-v" style="padding-bottom:10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    
                    <%- include("./menu.html") %>

                </div>
                <div class="col-md-9">
                    <div class="card">
                        <form method="post">
                        <h3>Infomation</h3>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputEmail4">Email</label>
                              <input type="email" class="form-control" id="inputEmail4" value="<%=user.email%>">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputPassword4">Password</label>
                              <input type="password" class="form-control" id="inputPassword4">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" value="<%=user.address%>" id="inputAddress" placeholder="1234 Main St">
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Country</label>
                            <input type="text" class="form-control" value="<%=user.country%>" id="inputAddress2" placeholder="Apartment, studio, or floor">
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity">City</label>
                              <input type="text" class="form-control" value="<%=user.city%>" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inputState">State</label>
                              <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                              </select>
                            </div>
                            <div class="form-group col-md-2">
                              <label for="inputZip">Zip</label>
                              <input type="text" value="<%=user.zipcode%>" class="form-control" id="inputZip">
                            </div>
                          </div>
                          
                          <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


            
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./../components/footer.html") %>
</footer>