 <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "Template List Item",
            description : "Free copy trade service, Win rate 80-90%",
            banner : "./banner_page.html",
            html : ''
        }) %>
</header>

<main class="nk-pages">

    <section class="section pdt-0 ov-v" style="padding-bottom:10px;">
        <div class="container">
            <div class="nk-block nk-block-features-s3">
                <h2>Template ITEM</h2>
                <div class="row">
                    <% data.forEach(function(item) { %>
                    <div class="col-xs-12 col-md-3 mb-3">
                        <div class="card card-lg-y animated pd-0" data-animate="fadeInUp" data-delay="1.4">
                            <img class="card-img-top" src="<%=item.banner%>" style="max-height: 180px;">
                            <div class="card-body">
                                Item List
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>


            
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./../components/footer.html") %>
</footer>