<form action="/account/edit-<%= item.id%>.html" method="post">
<h4 class="d-flex justify-content-between">Edit Data Account
  <div>
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
  </div>
</h4>

 
    <div class="card">
    	<div class="form-group">
	        <label >Name</label>
	        <input type="text" class="form-control" name="name" value="<%= item.name%>" required>
	    </div>
    	<button type="submit" class="btn btn-primary">Public Data</button>
    </div>
</form>