<section class="section bg-white" id="overview">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-features-s2">
            <div class="row align-items-center gutter-vr-30px">
                <div class="col-lg-6">
                    <div class="gfx py-4 mx-auto mx-lg-0">
                        <img src="images/salvia/gfx-j.png" alt="gfx">
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6">
                    <div class="feature">
                        <h2 class="title-xl-2 title-thin pdb-s">Why?</h2>
                        <div class="feature-text feature-text-s1">
                            <p>Tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                        </div>
                    </div>
                    <div class="feature">
                        <h2 class="title-xl-2 title-thin pdb-s">Mission</h2>
                        <div class="feature-text feature-text-s1">
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                    <div class="feature">
                        <h2 class="title-xl-2 title-thin pdb-s">How?</h2>
                        <div class="feature-text feature-text-s1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>