<section class="section bg-light">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s3">
                        <div class="section-head section-head-s7 wide-auto-sm text-center">
                            <h2 class="title title-thin">Problems</h2>
                            <p class="lead">On the global marketplace</p>
                        </div>
                        <div class="row justify-content-center gutter-vr-30px">
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center">
                                    <div class="feature-icon feature-icon-auto">
                                        <em class="icon icon-grd icon-lg ikon ikon-globe"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">No World Wide Platform:</h4>
                                        <p class="fw-4">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center">
                                    <div class="feature-icon feature-icon-auto">
                                        <em class="icon icon-grd icon-lg ikon ikon-shiled-4"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">No Safe Transactions:</h4>
                                        <p class="fw-4">Ut enim ad minima veniam, quis nostrum exercitationem ullam suscipit no laboriosam, nisi ut aliquid eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center">
                                    <div class="feature-icon feature-icon-auto">
                                        <em class="icon icon-grd icon-lg ikon ikon-wallet"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">No Global Payment Systems:</h4>
                                        <p class="fw-4">Sed do eiusmod tempor incididunt ut labore et dolore aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris fugiat runull dolore magna.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- Block @e -->
                    <div class="nk-block nk-block-features-s3">
                        <div class="section-head section-head-s7 wide-auto-sm text-center">
                            <h2 class="title title-thin">Solutions</h2>
                            <p class="lead">Our method and vision</p>
                        </div>
                        <div class="row justify-content-center gutter-vr-30px">
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center">
                                    <div class="feature-icon feature-icon-auto">
                                        <em class="icon icon-grd icon-lg ikon ikon-cloud"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">Global Single-Platform:</h4>
                                        <p class="fw-4">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center">
                                    <div class="feature-icon feature-icon-auto">
                                        <em class="icon icon-grd icon-lg ikon ikon-safety"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">Be Safe and Secure:</h4>
                                        <p class="fw-4">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center">
                                    <div class="feature-icon feature-icon-auto">
                                        <em class="icon icon-grd icon-lg ikon ikon-cash"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">Decentralize Payment Systems</h4>
                                        <p class="fw-4">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim, quis nostrud exercitation ullamco laboris fugiat runull dolore magna.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>