<section class="section bg-theme ov-h text-center tc-light overlay-x">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center justify-content-center">
                            <div class="col">
                                <div class="nk-block-text">
                                    <h3 class="fw-3  pb-2"><span class="h1 fw-3 pb-3 d-block">The main issue</span> of decentralizing decision-making  and transparency and reliability</h3>
                                    <p class="lead-s2">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum <br class="d-none d-lg-block"> deleniti atque corrupti quos dolores et quas molestias.</p>
                                </div><!-- .nk-block @e -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-white ov-h text-center" id="works">
                <div class="section-head section-head-s7 wide-auto-xs">
                    <h2 class="title title-thin">How it works</h2>
                    <p class="lead">Our Ecosystem based on blockchain and we solved issues of current and future</p>
                </div>
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="nk-block-text">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="feature-slider-dots">
                                        <button class="feature-slider-dot owl-dots">
                                            <em class="ikon ikon-paricle"></em>
                                        </button>
                                        <button class="feature-slider-dot owl-dots">
                                            <em class="ikon ikon-user-setting"></em>
                                        </button>
                                        <button class="feature-slider-dot owl-dots">
                                            <em class="ikon ikon-clip-board"></em>
                                        </button>
                                        <button class="feature-slider-dot owl-dots">
                                            <em class="ikon ikon-user-chat"></em>
                                        </button>
                                        <button class="feature-slider-dot owl-dots">
                                            <em class="ikon ikon-car"></em>
                                        </button>
                                    </div>
                                    <div class="feature-slider-pane has-carousel owl-carousel" data-items="1" data-dots="true" data-custom-dots="feature-slider-dots" data-animate-out="fadeOut">
                                        <div class="ft-slider-pane-item pane-item-1">
                                            <h5 class="animate-up delay-5ms">Build blockchain algotrading models</h5>
                                            <p class="animate-up delay-6ms">This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
                                            <p class="animate-up delay-7ms">We will establish an incentivizing mechanism numquam eius modi tempora, incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.</p>
                                        </div>
                                        <div class="ft-slider-pane-item pane-item-2">
                                            <h5 class="animate-up delay-5ms">Connect with others blockchain mod.</h5>
                                            <p class="animate-up delay-6ms">This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
                                            <p class="animate-up delay-7ms">We will establish an incentivizing mechanism numquam eius modi tempora, incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.</p>
                                        </div>
                                        <div class="ft-slider-pane-item pane-item-3">
                                            <h5 class="animate-up delay-5ms">Target your goal to reach out.</h5>
                                            <p class="animate-up delay-6ms">This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
                                            <p class="animate-up delay-7ms">We will establish an incentivizing mechanism numquam eius modi tempora,incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.</p>
                                        </div>
                                        <div class="ft-slider-pane-item pane-item-4">
                                            <h5 class="animate-up delay-5ms">Protect your blockchain models.</h5>
                                            <p class="animate-up delay-6ms">This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
                                            <p class="animate-up delay-7ms">We will establish an incentivizing mechanism numquam eius modi tempora, incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.</p>
                                        </div>
                                        <div class="ft-slider-pane-item pane-item-5">
                                            <h5 class="animate-up delay-5ms">Make transaction easy and with a less fee.</h5>
                                            <p class="animate-up delay-6ms">This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
                                            <p class="animate-up delay-7ms">We will establish an incentivizing mechanism numquam eius modi tempora,incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.</p>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .nk-block @e -->
                    </div><!-- .block @e -->
                </div>
            </section>