<header class="nk-header page-header is-sticky is-shrink is-transparent is-light" id="header">
        <%- include("./components/header.html",{
            title : "Error 404",
            description : "page loadding error. plz contact administrator",
            banner : "./banner_page.html",
            html : ""
        }) %>
</header>
    
<main class="nk-pages">
    <div class="container text-center">
        <h1>404 page not found</h1>
    </div>
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./components/footer.html") %>
</footer>