<header class="nk-header page-header is-sticky is-shrink is-transparent is-light" id="header">
        <%- include("./components/header.html",{
            title : "FUND COIN CAPITAL",
            description : "Join IDO get profit 8 lever",
            banner : "./banner.html",
            html : ""
        }) %>
</header>
    
<main class="nk-pages">
    <%- include("./home.html") %>
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./components/footer.html") %>
</footer>