<header class="nk-header page-header is-sticky is-shrink is-transparent is-light" id="header">
        <%- include("./components/header.html",{
            title : "FUND COIN CAPITAL",
            description : "Join IDO get profit 8 lever"
        }) %>
</header>
    
<main class="nk-pages">

<section class="section section-r bg-white pb-0 ov-h">
                <div class="container">
                    <div class="section-head section-head-sm wide-auto-sm text-center">
                        <h2 class="title title-xs title-xs-s1 tc-alternet animated" data-animate="fadeInUp" data-delay=".1">TOP Crypto</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <!-- Block @s -->
                            <div class="nk-block">
                                <div class="row gutter-vr-30px text-center">
                                    <div class="col-md col-4">
                                        <div class="rating animated" data-animate="fadeInUp" data-delay=".2">
                                            <div class="rating-info">4.7<span>5</span></div>
                                            <div class="rating-title">BTC</div>
                                        </div>
                                    </div>
                                    <div class="col-md col-4">
                                        <div class="rating animated" data-animate="fadeInUp" data-delay=".3">
                                            <div class="rating-info">A</div>
                                            <div class="rating-title">ETH</div>
                                        </div>
                                    </div>
                                    <div class="col-md col-4">
                                        <div class="rating animated" data-animate="fadeInUp" data-delay=".4">
                                            <div class="rating-info">9.4<span>10</span></div>
                                            <div class="rating-title">BNB</div>
                                        </div>
                                    </div>
                                    <div class="col-md col-4">
                                        <div class="rating animated" data-animate="fadeInUp" data-delay=".5">
                                            <div class="rating-info">4.9<span>5</span></div>
                                            <div class="rating-title">USDT</div>
                                        </div>
                                    </div>
                                    <div class="col-md col-4">
                                        <div class="rating animated" data-animate="fadeInUp" data-delay=".6">
                                            <div class="rating-info">5<span>5</span></div>
                                            <div class="rating-title">LUNA</div>
                                        </div>
                                    </div>
                                    <div class="col-md col-4">
                                        <div class="rating animated" data-animate="fadeInUp" data-delay=".7">
                                            <div class="rating-info">9.1<span>10</span></div>
                                            <div class="rating-title">ETC</div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Block @e -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-light-grad" id="about">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s2">
                        <div class="row align-items-center gutter-vr-30px">
                            <div class="col-md-6">
                                <div class="gfx mx-auto mx-lg-0 animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="/assets/images/gfx/gfx-r.png" alt="gfx">
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <!-- Section Head @s -->
                                <div class="nk-block-text text-center text-md-left">
                                    <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".2">What is ICO Crypto</h6>
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".3">We’ve built a platform <br>to buy and sell shares.</h2>
                                    <p class="lead animated" data-animate="fadeInUp" data-delay=".4">ICO Crypto is a platform for the future of funding that powering dat for the new equity blockchain</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".5">While existing solutions offer to solve just one problem at a time, our team is up to build a secure, useful, &amp; easy-to-use product based on private blockchain. It will include easy cryptocurrency payments integration, and even a digital arbitration system.</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".6">At the end, Our aims to integrate all companies, employees, and business assets into a unified blockchain ecosystem, which will make business truly efficient, transparent, and reliable.</p>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-white">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-lg nk-block-features-s2">
                        <div class="row align-items-center flex-row-reverse gutter-vr-30px">
                            <div class="col-md-6">
                                <div class="gfx animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="/assets/images/gfx/gfx-s-light.png" alt="gfx">
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <!-- Section Head @s -->
                                <div class="nk-block-text">
                                    <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".2">Power of Blockchain</h6>
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".3">Tokenization Benefits</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".4">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".5">Cryptocurrencies are Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium, totam rem.</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".6">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciun quis nostrut.</p>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-lg nk-block-features-s2">
                        <div class="row align-items-center gutter-vr-30px">
                            <div class="col-md-6">
                                <div class="gfx animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="/assets/images/gfx/gfx-t-light.png" alt="gfx">
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <!-- Section Head @s -->
                                <div class="nk-block-text">
                                    <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".2">Global Community</h6>
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".3">The ICO Community</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".4">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".5">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</p>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s2">
                        <div class="row align-items-center flex-row-reverse gutter-vr-30px">
                            <div class="col-md-6">
                                <div class="gfx animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="/assets/images/gfx/gfx-u-light.png" alt="gfx">
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <!-- Section Head @s -->
                                <div class="nk-block-text">
                                    <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".2">Ensure A Safe</h6>
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".3">Adaptive Smart Contracts</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".4">Mostly due to sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".5">Cryptocurrencies are Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".6">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciun quis nostrut.</p>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-light" id="why">
                <div class="background-shape bs-reverse"></div>
                <div class="container">
                    <div class="section-head section-head-s9 wide-sm">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">How it Work</h6>
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Best Features</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">The ICO Crypto Team combines a passion for esports, industry experise &amp; proven record in finance, development, marketing.</p>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row gutter-vr-40px justify-content-center">
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-s8-alt feature-center card card-full-lg card-md animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-icon feature-icon-lg feature-icon-lg-s2">
                                        <img src="/assets/images/icons/icon-h.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-sm title-thin title-s5"><span>Ultra Fast &amp; Secure </span><span>Instant Private Transaction</span></h4>
                                        <p>The Smart Asset Blockcjain os starter &amp; more open with lorem Ipsum is simply text of the crypto.</p>
                                        <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-s8-alt feature-center card card-full-lg card-md animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon feature-icon-lg feature-icon-lg-s2">
                                        <img src="/assets/images/icons/icon-i.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-sm title-thin title-s5"><span>Highly Scalable </span><span>Limitless Applications</span></h4>
                                        <p>The Smart Asset Blockcjain os starter &amp; more open with lorem Ipsum is simply text of the crypto.</p>
                                        <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-s8-alt feature-center card card-full-lg card-md animated" data-animate="fadeInUp" data-delay=".6">
                                    <div class="feature-icon feature-icon-lg feature-icon-lg-s2">
                                        <img src="/assets/images/icons/icon-j.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-sm title-thin title-s5"><span>Reliable &amp; Low Cost </span><span>Instant Private Transaction</span></h4>
                                        <p>The Smart Asset Blockcjain os starter &amp; more open with lorem Ipsum is simply text of the crypto.</p>
                                        <a href="#" class="link link-primary link-feature-s1"><em class="link-icon icon-circle icon-circle-md ti ti-arrow-right"></em></a>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="d-flex justify-content-center pdt-r">
                            <ul class="btn-grp animated" data-animate="fadeInUp" data-delay=".7">
                                <li><a href="#" class="btn btn-md btn-grad">Get a Wallet</a></li>
                                <li><a href="#" class="btn btn-md btn-outline btn-grad on-bg-light">Download Whitepaper</a></li>
                            </ul>
                        </div>
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-white" id="benifits">
                <div class="container">
                    <div class="section-head section-head-s9 wide-sm">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Service Feature</h6>
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Service</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">The ICO Crypto Team combines a passion for esports, industry experise &amp; proven record in finance, development, marketing.</p>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features">
                        <div class="row gutter-vr-60px gutter-100px">
                            <div class="col-lg-6">
                                <div class="feature feature-s12 animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-icon feature-icon-lg-s1 m-lg-0">
                                        <img src="/assets/images/icons/icon-d-light.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s2">
                                        <p>ICO Crypto makes <strong> you the sole owner of a secure </strong> decentralize registry for your collection an products</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="feature feature-s12 animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon feature-icon-lg-s1 m-lg-0">
                                        <img src="/assets/images/icons/icon-e-light.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s2">
                                        <p>The registry is a <strong>tamper-proof</strong> that uses <strong>dolor sit amet,</strong> conse ctetur sed eiusmod tempor incidid labore Lorem consectetur adipiscing.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="feature feature-s12 animated" data-animate="fadeInUp" data-delay=".6">
                                    <div class="feature-icon feature-icon-lg-s1 m-lg-0">
                                        <img src="/assets/images/icons/icon-f-light.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s2">
                                        <p>Provide your customer with a <strong>lorem ipsum dolor sit amet, conse ctetur sed</strong> eiusmod tempor incidid labore Lorem ipsum dolor.
                                        </p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="feature feature-s12 animated" data-animate="fadeInUp" data-delay=".7">
                                    <div class="feature-icon feature-icon-lg-s1 m-lg-0">
                                        <img src="/assets/images/icons/icon-g-light.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s2">
                                        <p>ICO Crypto the prowess of blockchain  <strong>labore et dolore</strong> dolor sit amet, conse <strong>Ctetur sed</strong> eiusmod tempor labore dolor adipiscing.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @s -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-light">
                <div class="container">
                    <div class="section-head section-head-s9 wide-md">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">ICO Market</h6>
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Introducing the ICO Marketplace</h2>
                        <div class="wide-sm">
                            <p class="animated" data-animate="fadeInUp" data-delay=".3">Blockchain-powered marketplace which connects buyer and Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        </div>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center gutter-vr-30px">
                            <div class="col-lg-6">
                                <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".4">
                                    <img src="/assets/images/jasmine/laptop-mobile-a.png" alt="app">
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="nk-block-text">
                                    <ul class="list list-check list-check-s3">
                                        <li class="animated" data-animate="fadeInUp" data-delay=".5">The Platform will earn premium libero tempore, cum soluta nobis keep their digital coins est eligendi optio.</li>
                                        <li class="animated" data-animate="fadeInUp" data-delay=".55">At aut reiciendis voluptatibus maiores alias conse quatur aut perferendis. Contributor payouts perfectly simple and easy</li>
                                        <li class="animated" data-animate="fadeInUp" data-delay=".6">Ut enim ad minim veniam, quis nostrud exerc itation identification is stored in an encrypted ullamco laboris nisi.</li>
                                        <li class="animated" data-animate="fadeInUp" data-delay=".65">Owners of cryptocurrency keep their digital coins in ICO digital wallet. A coin-holder’s identification is stored in an encrypted address that they have control.</li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            
            <!-- // -->
            <section class="section bg-light-alt" id="team">
                <div class="background-shape bs-right"></div>
                <div class="container">
                    <div class="section-head section-head-s9 wide-md">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">MEET THE TEAM</h6>
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Executive team</h2>
                        <div class="wide-sm">
                            <p class="animated" data-animate="fadeInUp" data-delay=".3">The ICO Crypto Team combines a passion for esports, industry experise &amp; proven record in finance, development, marketing &amp; licensing.</p>
                        </div>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block nk-block-left nk-block-team-list team-list">
                        <div class="row justify-content-start">
                            <div class="col-lg-3 col-sm-6">
                                <div class="team team-s4 round bg-white ml-0 animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="team-photo team-photo-s1 round-full">
                                        <img src="/assets/images/team/sq-a.jpg" alt="team" class="round-full">
                                    </div>
                                    <h5 class="team-name">Waylon Dalton</h5>
                                    <span class="team-position tc-primary">CEO &amp; Lead Blockchain</span>
                                    <div class="team-desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incide.</p>
                                    </div>
                                    <ul class="team-social team-social-s2">
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="team team-s4 round bg-white ml-0 animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="team-photo team-photo-s1 round-full">
                                        <img src="/assets/images/team/sq-b.jpg" alt="team" class="round-full">
                                    </div>
                                    <h5 class="team-name">Stefan Harary</h5>
                                    <span class="team-position tc-primary">CEO &amp; Lead Blockchain</span>
                                    <div class="team-desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incide.</p>
                                    </div>
                                    <ul class="team-social team-social-s2">
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="team team-s4 round bg-white ml-0 animated" data-animate="fadeInUp" data-delay=".6">
                                    <div class="team-photo team-photo-s1 round-full">
                                        <img src="/assets/images/team/sq-c.jpg" alt="team" class="round-full">
                                    </div>
                                    <h5 class="team-name">Moises Teare</h5>
                                    <span class="team-position tc-primary">CEO &amp; Lead Blockchain</span>
                                    <div class="team-desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incide.</p>
                                    </div>
                                    <ul class="team-social team-social-s2">
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="team team-s4 round bg-white ml-0 animated" data-animate="fadeInUp" data-delay=".7">
                                    <div class="team-photo team-photo-s1 round-full">
                                        <img src="/assets/images/team/sq-d.jpg" alt="team" class="round-full">
                                    </div>
                                    <h5 class="team-name">Gabriel Bernal</h5>
                                    <span class="team-position tc-primary">CEO &amp; Lead Blockchain</span>
                                    <div class="team-desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incide.</p>
                                    </div>
                                    <ul class="team-social team-social-s2">
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                    <div class="nk-block nk-block-left nk-block-team-list">
                        <div class="section-head section-head-sm">
                            <h2 class="title-lg-2 animated" data-animate="fadeInUp" data-delay=".8">ADVISORS</h2>
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-lg-3 col-sm-6">
                                <div class="team team-s4 round bg-white ml-0 animated" data-animate="fadeInUp" data-delay=".9">
                                    <div class="team-photo team-photo-s1 round-full">
                                        <img src="/assets/images/team/sq-a.jpg" alt="team" class="round-full">
                                    </div>
                                    <h5 class="team-name">Waylon Dalton</h5>
                                    <span class="team-position tc-primary">CEO &amp; Lead Blockchain</span>
                                    <div class="team-desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incide.</p>
                                    </div>
                                    <ul class="team-social team-social-s2">
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="team team-s4 round bg-white ml-0 animated" data-animate="fadeInUp" data-delay="1">
                                    <div class="team-photo team-photo-s1 round-full">
                                        <img src="/assets/images/team/sq-b.jpg" alt="team" class="round-full">
                                    </div>
                                    <h5 class="team-name">Stefan Harary</h5>
                                    <span class="team-position tc-primary">CEO &amp; Lead Blockchain</span>
                                    <div class="team-desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incide.</p>
                                    </div>
                                    <ul class="team-social team-social-s2">
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="team team-s4 round bg-white ml-0 animated" data-animate="fadeInUp" data-delay="1.1">
                                    <div class="team-photo team-photo-s1 round-full">
                                        <img src="/assets/images/team/sq-c.jpg" alt="team" class="round-full">
                                    </div>
                                    <h5 class="team-name">Moises Teare</h5>
                                    <span class="team-position tc-primary">CEO &amp; Lead Blockchain</span>
                                    <div class="team-desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incide.</p>
                                    </div>
                                    <ul class="team-social team-social-s2">
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-white">
                <div class="container">
                    <div class="section-head section-head-s9 wide-md">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Partners</h6>
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Supported By</h2>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block block-partners">
                        <ul class="partner-list partner-list-left partner-list-s3 flex-wrap">
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".3">
                                <img src="/assets/images/partners/a-xs-alt.png" alt="partner">
                            </li>
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".35">
                                <img src="/assets/images/partners/b-xs-alt.png" alt="partner">
                            </li>
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".4">
                                <img src="/assets/images/partners/c-xs-alt.png" alt="partner">
                            </li>
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".45">
                                <img src="/assets/images/partners/d-xs-alt.png" alt="partner">
                            </li>
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".5">
                                <img src="/assets/images/partners/e-xs-alt.png" alt="partner">
                            </li>
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".55">
                                <img src="/assets/images/partners/a-xs-alt.png" alt="partner">
                            </li>
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".6">
                                <img src="/assets/images/partners/a-sm-alt.png" alt="partner">
                            </li>
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".65">
                                <img src="/assets/images/partners/b-sm-alt.png" alt="partner">
                            </li>
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".7">
                                <img src="/assets/images/partners/c-sm-alt.png" alt="partner">
                            </li>
                            <li class="partner-logo partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".75">
                                <img src="/assets/images/partners/a-sm-alt.png" alt="partner">
                            </li>
                        </ul>
                    </div>
                    <!-- Block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-light" id="faqs">
                <div class="container">
                    <div class="section-head section-head-s9 wide-md">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">FAQ</h6>
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Frequently asked questions</h2>
                        <div class="wide-sm">
                            <p class="animated" data-animate="fadeInUp" data-delay=".3">Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few others. If you have any other questions, please get in touch using the contact form below.</p>
                        </div>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-12">
                                <ul class="nav tab-nav tab-nav-btn pdb-r justify-content-start animated" data-animate="fadeInUp" data-delay=".4">
                                    <li><a class="active" data-toggle="tab" href="#general-questions-13">General</a></li>
                                    <li><a data-toggle="tab" href="#ico-questions-13">Pre-ICO &amp; ICO</a></li>
                                    <li><a data-toggle="tab" href="#tokens-sales-13">Token</a></li>
                                </ul>
                            </div><!-- .col -->
                            <div class="col-lg-8">
                                <div class="tab-content animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="tab-pane fade show active" id="general-questions-13">
                                        <div class="accordion accordion-faq" id="faq-47">
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-47-1">
                                                    What is ICO Crypto? 
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-47-1" class="collapse show" data-parent="#faq-47">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-47-2">
                                                    What cryptocurrencies can I use to purchase? 
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-47-2" class="collapse" data-parent="#faq-47">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-47-3">
                                                    How can I participate in the ICO Token sale? 
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-47-3" class="collapse" data-parent="#faq-47">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-47-4">
                                                    How do I benefit from the ICO Token? 
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-47-4" class="collapse" data-parent="#faq-47">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="ico-questions-13">
                                        <div class="accordion accordion-faq" id="faq-48">
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-48-1">
                                                    Which of us ever undertakes laborious?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-48-1" class="collapse show" data-parent="#faq-48">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-48-2">
                                                    Who do not know how to pursue rationally?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-48-2" class="collapse" data-parent="#faq-48">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-48-3">
                                                    Their separate existence is a myth?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-48-3" class="collapse" data-parent="#faq-48">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-48-4">
                                                    Pityful a rethoric question ran over her cheek?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-48-4" class="collapse" data-parent="#faq-48">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tokens-sales-13">
                                        <div class="accordion accordion-faq" id="faq-49">
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm" data-toggle="collapse" data-target="#faq-49-1">
                                                    When she reached the first hills?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-49-1" class="collapse show" data-parent="#faq-49">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-49-2">
                                                    Big Oxmox advised her not to do?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-49-2" class="collapse" data-parent="#faq-49">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-49-3">
                                                    Which roasted parts of sentences fly into your mouth?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-49-3" class="collapse" data-parent="#faq-49">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item accordion-item-s2 bg-white">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-49-4">
                                                    Vokalia and Consonantia, there live?
                                                    <span class="accordion-icon accordion-icon-s2"></span>
                                                </h5>
                                                <div id="faq-49-4" class="collapse" data-parent="#faq-49">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4">
                                <div class="nk-block-img mt-4 mt-lg-0 animated" data-animate="fadeInUp" data-delay=".6">
                                    <img src="/assets/images/gfx/gfx-p.png" alt="lungwort">
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-contact bg-white ov-h" id="contact">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block block-contact">
                        <div class="row justify-content-center gutter-vr-30px">
                            <div class="col-lg-3">
                                <div class="section-head section-head-sm section-head-s9 text-center text-lg-left">
                                    <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Contact</h6>
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Get In Touch</h2>
                                    <div class="class">
                                        <p class="animated" data-animate="fadeInUp" data-delay=".3">Any question? Reach out to us and we’ll get back to you shortly.</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <ul class="contact-list contact-list-s2">
                                        <li class="animated" data-animate="fadeInUp" data-delay=".4">
                                            <em class="contact-icon contact-icon-s2 fas fa-phone"></em>
                                            <div class="contact-text">
                                                <span>+44 0123 4567</span>
                                            </div>
                                        </li>
                                        <li class="animated" data-animate="fadeInUp" data-delay=".5">
                                            <em class="contact-icon contact-icon-s2 fas fa-envelope"></em>
                                            <div class="contact-text">
                                                <span>info@company.com</span>
                                            </div>
                                        </li>
                                        <li class="animated" data-animate="fadeInUp" data-delay=".6">
                                            <em class="contact-icon contact-icon-s2 fas fa-paper-plane"></em>
                                            <div class="contact-text">
                                                <span>Join us on Telegram</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 offset-lg-1">
                                <div class="gap-6x d-none d-lg-block"></div>
                                <div class="gap-4x d-none d-lg-block"></div>
                                <form id="contact-form-01" class="contact-form nk-form-submit" action="form/contact.php" method="post">
                                    <div class="field-item field-item-s2 animated" data-animate="fadeInUp" data-delay=".7">
                                        <input name="contact-name" type="text" class="input-bordered required" placeholder="Your Name">
                                    </div>
                                    <div class="field-item field-item-s2 animated" data-animate="fadeInUp" data-delay=".8">
                                        <input name="contact-email" type="email" class="input-bordered required email" placeholder="Your Email">
                                    </div>
                                    <div class="field-item field-item-s2 animated" data-animate="fadeInUp" data-delay=".9">
                                        <textarea name="contact-message" class="input-bordered input-textarea required" placeholder="Your Message"></textarea>
                                    </div>
                                    <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                    <div class="row">
                                        <div class="col-sm-12 animated" data-animate="fadeInUp" data-delay="1">
                                            <button type="submit" class="btn btn-s2 btn-md btn-grad">Submit</button>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-results"></div>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- .col -->
                            <div class="col-lg-4 align-self-center">
                                <div class="nk-block-img animated" data-animate="fadeInUp" data-delay="1.1">
                                    <img src="/assets/images/gfx/gfx-q.png" alt="lungwort">
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>

            
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./components/footer.html") %>
</footer>