Options All -Indexes

<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
	AddType application/vnd.ms-fontobject .eot
	AddType font/truetype .ttf
	AddType font/opentype .otf
	AddType font/opentype .woff
	AddType font/opentype .woff2
	AddType image/svg+xml .svg .svgz

	<FilesMatch ".(eot|ttf|otf|woff|woff2|svg|svgz|jpg)">
	    Header set Access-Control-Allow-Origin "*"
	</FilesMatch>
	
	RewriteBase /

	# Redirect Trailing Slashes...
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R=301]

	# Rewrite "www.example.com -> example.com"
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

	RewriteCond %{REQUEST_URI} !\.(?:css|js)$ [NC]
	
	<IfModule mod_headers.c>
	  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
	    Header set Access-Control-Allow-Origin "*"
	  </FilesMatch>
	</IfModule>
	# request to the front controller, index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]

	# Ensure Authorization header is passed along
	RewriteCond %{HTTP:Authorization} .
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
	
	ErrorDocument 404 index.php
</IfModule>

# Disable server signature start
	ServerSignature Off
# Disable server signature end
