 <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "Exchange List Item",
            description : "Free copy trade service, Win rate 80-90%",
            banner : "./banner_page.html",
            html : ''
        }) %>
</header>

<main class="nk-pages">

    <section class="section pdt-0 ov-v" style="padding-bottom:10px;">
        <div class="container">
            <div class="nk-block nk-block-features-s3">
                
                <table class="table table-hover">
                    <thead>
                        <th>Symbol</th>
                        <th colspan="3">Buy</th>
                        <th colspan="3">Sell</th>
                        <th></th>
                    </thead>
                    <tr>
                        <td></td>
                        <td>USDT</td>
                        <td>VND</td>
                        <td>KWR</td>
                        <td>USDT</td>
                        <td>VND</td>
                        <td>KWR</td>
                        <td width="20%"></td>
                    </tr>
                    <% data.forEach(function(item) { %>
                    <tr>
                        <td><%=item.symbol.replace('USDT','USD')%></td>
                        <td class="buy<%=item.symbol%>">--</td>
                        <td class="buy<%=item.symbol%>_vnd">--</td>
                        <td class="buy<%=item.symbol%>_kwr">--</td>
                        <td class="sell<%=item.symbol%>">--</td>
                        <td class="sell<%=item.symbol%>_vnd">--</td>
                        <td class="sell<%=item.symbol%>_kwr">--</td>
                        <td class="text-right">
                            <button class="btn btn-sm btn-primary" type="button">Buy Now</button>
                            <button class="btn btn-sm btn-primary" type="button">Sell Now</button>
                        </td>
                    </tr>
                    <% }); %>
                </table>
                    
                
            </div>
        </div>
    </section>


            
</main>
<script type="text/javascript">

    function timeout() {
        setTimeout(function () {

            getData();
            timeout();
        },60000);
    }
let vnd = 23000;
let kwr = 18000;
function formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
  try {
    decimalCount = Math.abs(decimalCount);
    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

    const negativeSign = amount < 0 ? "-" : "";

    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
    let j = (i.length > 3) ? i.length % 3 : 0;

    var data = negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
    return data;
  } catch (e) {
    console.log(e)
  }
};
function getData() {
         fetch("https://api1.binance.com/api/v3/ticker/price").then(response => {
                // handle the response
                response.json().then(d => {
                        d.forEach((v) =>{
                            
                            if(v.symbol.search(/USDT/) !== -1){
                                var classBuy = ".buy"+v.symbol;
                                var classSell = ".sell"+v.symbol;
                                var priceUSDT = parseFloat(v.price).toFixed(2);
                                let buyPrice = calcBuy(priceUSDT);
                                let sellPrice = calcSell(priceUSDT);
                                $(classBuy).html(formatMoney(buyPrice));
                                $(classBuy+"_vnd").html(formatMoney(parseFloat(buyPrice*vnd).toFixed(2),0));
                                $(classBuy+"_kwr").html(formatMoney(parseFloat(buyPrice*kwr).toFixed(2),0));

                                $(classSell).html(formatMoney(sellPrice));
                                $(classSell+"_vnd").html(formatMoney(parseFloat(sellPrice*vnd).toFixed(2),0));
                                $(classSell+"_kwr").html(formatMoney(parseFloat(sellPrice*kwr).toFixed(2),0));
                            }
                            
                        });
                    });
                //console.log(response.data);
            })
            .catch(error => {
                // handle the error
            });
        }
    getData();
    timeout();

    function calcBuy(usdt) {
        return parseFloat(usdt * 1.025).toFixed(2);
    }
    function calcSell(usdt) {
        return parseFloat(usdt * 0.975).toFixed(2);
    }
</script>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./../components/footer.html") %>
</footer>