
            <!-- Banner @s -->
            <div class="header-banner bg-light ov-h header-banner-jasmine">
                <div class="background-shape"></div>
                <div class="nk-banner">
                    <div class="banner banner-fs banner-single">
                        <!-- .block @s -->
                        <div class="nk-block nk-block-header my-auto">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-9 text-center">
                                        <div class="banner-caption">
                                            <div class="cpn-head">
                                                <h1 class="title title-xl-2 animated" data-animate="fadeInUp" data-delay="1.25"><%=title%></h1>
                                            </div>
                                            <div class="cpn-text cpn-text-s2">
                                                <p class="lead-s2 animated" data-animate="fadeInUp" data-delay="1.35">Most Trending, Clean and Elegant Design <br class="d-none d-sm-block">based on deeply research</p>
                                            </div>
                                            <div class="cpn-action">
                                                <ul class="cpn-links animated" data-animate="fadeInUp" data-delay="1.45">
                                                    <li><a class="link link-primary" href="#"><em class="link-icon icon-circle ti ti-files"></em> <span>White Paper</span></a></li>
                                                    <li><a class="link link-primary" href="#"><em class="link-icon icon-circle ti ti-file"></em> <span>One Pager</span></a></li>
                                                    <li><a class="link link-primary video-play" href="https://www.youtube.com/watch?v=SSo_EIwHSd4"><em class="link-icon icon-circle ti ti-control-play"></em> <span>How it works</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div><!-- .block @e -->
                        <!-- .block @s -->
                        <div class="nk-block nk-block-status">
                            <div class="container">
                                <div class="row justify-content-center">
                                <div class="col-lg-8">
                                   <div class="row justify-content-center">
                                       <div class="col-md-8">
                                            <div class="token-status token-status-s4">
                                                <div class="token-box token-box-s2 bg-transparent animated" data-animate="fadeInUp" data-delay="1.65">
                                                    <h4 class="title title-xs-alt tc-default">JOIN TODAY</h4>
                                                    <div class="countdown-s3 countdown-s4 countdown" data-date="2021/08/10"></div>
                                                </div>
                                                <div class="token-action token-action-s1 animated" data-animate="fadeInUp" data-delay="1.65">
                                                    <a class="btn btn-rg btn-grad btn-grad-alt" href="#">Sign UP &amp; Join Free</a>
                                                </div>
                                                <ul class="icon-list animated" data-animate="fadeInUp" data-delay="1.65">
                                                    <li><em class="fab fa-bitcoin"></em></li>
                                                    <li><em class="fas fa-won-sign"></em></li>
                                                    <li><em class="fab fa-cc-visa"></em></li>
                                                    <li><em class="fab fa-cc-mastercard"></em></li>
                                                </ul>
                                                <div class="circle-animation animated" data-animate="fadeIn" data-delay="1.55">
                                                   <div class="circle-animation-l1 ca">
                                                       <span class="circle-animation-l1-d1 ca-dot ca-color-1"></span>
                                                       <span class="circle-animation-l1-d2 ca-dot ca-color-2"></span>
                                                       <span class="circle-animation-l1-d3 ca-dot ca-color-3"></span>
                                                       <span class="circle-animation-l1-d4 ca-dot ca-color-1"></span>
                                                       <span class="circle-animation-l1-d5 ca-dot ca-color-2"></span>
                                                       <span class="circle-animation-l1-d6 ca-dot ca-color-3"></span>
                                                   </div>
                                                   <div class="circle-animation-l2 ca">
                                                       <span class="circle-animation-l2-d1 ca-dot ca-color-1"></span>
                                                       <span class="circle-animation-l2-d2 ca-dot ca-color-3"></span>
                                                       <span class="circle-animation-l2-d3 ca-dot ca-color-2"></span>
                                                       <span class="circle-animation-l2-d4 ca-dot ca-color-1"></span>
                                                       <span class="circle-animation-l2-d5 ca-dot ca-color-2"></span>
                                                   </div>
                                                   <div class="circle-animation-l3 ca">
                                                       <span class="circle-animation-l3-d1 ca-dot ca-color-1"></span>
                                                       <span class="circle-animation-l3-d2 ca-dot ca-color-3"></span>
                                                       <span class="circle-animation-l3-d3 ca-dot ca-color-2"></span>
                                                       <span class="circle-animation-l3-d4 ca-dot ca-color-1"></span>
                                                       <span class="circle-animation-l3-d5 ca-dot ca-color-2"></span>
                                                   </div>
                                                </div>
                                            </div>
                                       </div>
                                   </div>
                                </div>
                            </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .block @e -->
                    </div>
                </div><!-- .nk-banner -->
                
                <!-- Place Particle Js -->
                <div id="particles-bg" class="particles-container particles-bg" data-pt-base="#00c0fa" data-pt-base-op=".3" data-pt-line="#2b56f5" data-pt-line-op=".5" data-pt-shape="#00c0fa" data-pt-shape-op=".2"></div> 
            </div>
            <!-- .header-banner @e -->
        