<!-- Banner @s -->
            <div class="header-banner bg-theme-grad-alt">
                <div class="nk-banner">
                    <div class="banner banner-fs banner-single banner-with-token-box-s1">
                        <div class="ui-shape ui-shape-header ui-shape-light"></div>
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-sm-10 col-md-10 col-xl-9">
                                        <div class="banner-caption tc-light text-center">
                                            <div class="cpn-title animated" data-animate="fadeInUp" data-delay="1.25">
                                                <h1 class="title title-xl-s2 title-semibold">Your Account<sup>st</sup> Status</h1>
                                            </div>
                                            <div class="cpn-text cpn-text-center">
                                                <p class="lead animated" data-animate="fadeInUp" data-delay="1.35">Validate <br class="d-none d-md-block">22/11/2022</p>
                                            </div>
                                            <div class="cpn-btns">
                                                <ul class="btn-grp justify-content-center animated" data-animate="fadeInUp" data-delay="1.45">
                                                    <li><a href="#" class="btn btn-md btn-round btn-with-icon btn-light">
                                                        <span>Buy Crypto</span> 
                                                        <em class="icon fas fa-angle-double-right"></em>
                                                    </a></li>
                                                    <li><a href="#" class="btn btn-md btn-round btn-with-icon btn-light">
                                                        <span>Sell Crypto</span> 
                                                        <em class="icon fas fa-angle-double-right"></em>
                                                    </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div> 
                            <div class="banner-social-wrap text-center animated" data-animate="fadeIn" data-delay="1.55">
                                <ul class="banner-social banner-social-vertical">
                                    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                    <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    <li><a href="#"><em class="fab fa-youtube"></em></a></li>
                                    <li><a href="#"><em class="fab fa-github"></em></a></li>
                                    <li><a href="#"><em class="fab fa-bitcoin"></em></a></li>
                                    <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="nk-ovm mask-b mask-contain-bottom"></div>
                </div><!-- .nk-banner -->
                <div class="token-box token-box-s1 animated" data-animate="fadeInUp" data-delay="1.65">
                    <div class="container">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="token-countdown-wrapper split split-left split-md-left">
                                    <h5 class="title-sm">Account Status Validate</h5>
                                    <h6>Your can trade now</h6>
                                    <div class="countdown-small countdown-s3 countdown" data-date="2021/08/10" data-day-text="D" data-hour-text="H" data-min-text="M" data-sec-text="S"></div>
                                </div>
                            </div><!-- .col  -->
                            <div class="col-xl-6 col-md-7">
                                <div class="token-status token-status-s1 bg-theme tc-light text-left split split-right split-md-right">
                                    <h5 class="title-sm">1500 coin Live</h5>
                                    <div class="progress-bar progress-bar-s1">
                                        <div class="progress-percent progress-percent-s1 bg-theme-grad-alt" data-percent="30"></div>
                                    </div>
                                    <div class="progress-points"><span>15k Sold</span> <span>75k Sold</span></div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .container  -->
                </div>
                
                <!-- Place Particle Js -->
				<div id="particles-bg" class="particles-container particles-bg"></div>
            </div>
            <div class="gap-5x bg-white"></div>
            <div class="gap-10x d-md-none"></div>
            <div class="gap-5x d-sm-none"></div>
			<!-- .header-banner @e --> 