
            <!-- Banner @s -->
            <div class="header-banner bg-light ov-h header-banner-jasmine">
                <div class="background-shape"></div>
                <div class="nk-banner">
                    <div class="banner banner-fs banner-single" style="min-height: calc(100vh - 400px); display: block;">
                        <!-- .block @s -->
                        <div class="nk-block nk-block-header my-auto">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-9 text-center">
                                        <div class="banner-caption">
                                            <div class="cpn-head">
                                                <h1 class="title title-xl-2 animated" data-animate="fadeInUp" data-delay="1.25"><%-title%></h1>
                                            </div>
                                            <div class="cpn-text cpn-text-s2">
                                                <p class="lead-s2 animated" data-animate="fadeInUp" data-delay="1.35"><%-description%></p>
                                            </div>
                                            <%-html%>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div><!-- .block @e -->
                        
                    </div>
                </div><!-- .nk-banner -->
                
                
            </div>
            <!-- .header-banner @e -->