  <!-- Header @s -->
      <div class="header-main">
        <div class="header-container container">
          <div class="header-wrap">
            <!-- Logo @s -->
            <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
              <a href="./" class="logo-link">
                <img class="logo-dark" src="/assets/images/logo.png" srcset="/assets/images/logo2x.png 2x" alt="logo">
                <img class="logo-light" src="/assets/images/logo.png" srcset="/assets/images/logo2x.png 2x" alt="logo">
              </a>
            </div>

            <!-- Menu Toogle @s -->
            <div class="header-nav-toggle">
              <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                  <div class="toggle-line">
                      <span></span>
                  </div>
              </a>
            </div>

            <!-- Menu @s -->
            <div class="header-navbar header-navbar-s1 animated" data-animate="fadeInDown" data-delay=".75">
               
                <nav class="header-menu" id="header-menu">
                  <ul class="menu animated remove-animation" data-animate="fadeInDown" data-delay=".75">
                      <li class="menu-item"><a class="menu-link nav-link" href="/market">Market</a></li>
                      <li class="menu-item"><a class="menu-link nav-link" href="/games.html">Service</a></li>
                      <li class="menu-item has-sub">
                          <a class="menu-link nav-link menu-toggle" href="#">Document</a>
                          <ul class="menu-sub menu-drop">
                              <li class="menu-item"><a class="menu-link nav-link" href="/trader/signals.html">Help 1 </a></li>
                              <li class="menu-item"><a class="menu-link nav-link" href="/trader/copytrade.html">Support</a></li>
                              
                          </ul>
                      </li>
                  </ul>
                  <ul class="menu-btns align-items-center animated remove-animation" data-animate="fadeInDown" data-delay=".85">
                      <li class="language-switcher language-switcher-s1 toggle-wrap">
                          <a class="toggle-tigger" href="#">English</a>
                          <ul class="toggle-class toggle-drop toggle-drop-left drop-list drop-list-sm">
                              <li><a href="#">French</a></li>
                              <li><a href="#">Chinese</a></li>
                              <li><a href="#">Hindi</a></li>
                          </ul>
                      </li>
                      <li><a class="btn btn-md btn-round btn-outline btn-auto btn-primary btn-with-icon walletLimit" id="btn-connect"><span id="walletAddress">Account</span> <em class="icon  fas fa-wallet"></em></a></li>
                     
                  </ul>
              </nav>
            </div><!-- .header-navbar @e -->
          </div>                                                
        </div>
      </div><!-- .header-main @e -->

<%- include("./banner.html") %>
